@font-face {
    font-family: "Jost-Bold";
    src: url("/accets/fonts/Jost-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Jost-ExtraBold";
    src: url('/accets/fonts/Jost-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Jost-Regular";
    src: url("/accets/fonts/Jost-Regular.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jost-SemiBold";
    src: url("/accets/fonts/Jost-SemiBold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

img {
    object-fit: cover;
}

body {

    font-family: "Jost-Regular", sans-serif;


}

h1 {
    font-family: "Jost-ExtraBold", sans-serif;
    color: #1B1B1D;
}

a {
    font-family: "Jost-SemiBold", sans-serif;
    text-decoration: none;
    color: #1B1B1D;
    font-size: 14px;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

a:hover {
    color: #CE242B;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;

}

p {
    color: #64646A;
}

ul {
    list-style: none;
}

.button_header_bascet {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;

}

.button_header_bascet:hover {
    color: #fff;
    background: #98989a;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.header_list {
    display: flex;
    gap: 40px
}


.container {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    background: #1B1B1D;
    border-radius: 63px;
    border: none;
    cursor: pointer;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;

}

.btn_header:hover {
    color: #000000;
    background: #ffffff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.header_btns {
    display: flex;
    gap: 20px;
}

.nav {
    padding-left: 360px;
    padding-right: 40px;
}



.welcome {
    background-color: #EEEFF1;
    box-sizing: border-box;
    width: 100%;
    height: 1046px;
    margin-top: -80px;
    padding-top: 204px;
}

.welome_title {
    font-size: 124px;
    margin-bottom: 30px;
    line-height: 140px;


}

.box_for_txt_welcome {
    width: 597px;
    z-index: 2;
}

.welcome_text {
    font-size: 24px;
    color: #64646A;
    padding-right: 121px;
    margin-bottom: 60px;

}

.links_welcome .btn_header {
    font-size: 18px;
}

.link_welc {
    font-size: 18px;
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.links_welcome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.welcome_sect {
    display: flex;
}

.rectangle {
    background-color: white;
    min-width: 272px;
    max-width: 272px;
    max-height: 140px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
    padding: 20px 17px 0px 23px;
    color: #64646A;
    font-size: 19px;
    font-weight: 400;
    z-index: 4;
    margin-top: 400px;
}

.stars {
    display: flex;
    gap: 5px;
}

.img_welcome {
    margin-left: -330px;
}

.text_rect {
    width: 232px;
    padding-top: 16px;
}

h2 {
    font-size: 64px;
    font-family: "Jost-ExtraBold", sans-serif;
    color: #1B1B1D;
    line-height: 70px;
}


/* Explore Our Alowishus */
.explore_txt {
    text-align: center;
    margin-top: 140px;
}

.explore_txt p {
    font-size: 24px;
    text-align: center;
    padding-top: 24px;
    width: 604px;
    padding-left: 330px;
}

.card_explore {
    width: 394px;
    height: 540px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.text_card {
    width: 316px;
    padding-top: 40px;
    padding-bottom: 60px;
}

h3 {
    font-family: "Jost-SemiBold" sans-serif;
    font-size: 36px;
    color: #1B1B1D;
}

.info_card {
    font-size: 24px;
    color: #64646A;
    margin-top: 8px;
}

.button_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background: #1B1B1D;
    border-radius: 63px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.button_card:hover {
    color: #000000;
    background: #ffffff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.cards_explore {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.favorite_coffee {
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
}

.txt_coffee p {
    font-size: 24px;
    color: #64646A;
    margin-top: 30px;
}

.txt_coffee {
    width: 512px;
}

.btn_coffe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 70px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background: #1B1B1D;
    border-radius: 63px;
    margin-top: 60px;
    cursor: pointer;
    border: none;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.btn_coffe:hover {
    color: #000000;
    background: #ffffff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.title_rewiews_section {
    text-align: center;
    padding: 0 393px;
    padding-top: 140px;
}

.gloabal_review {
    width: 300px;
    height: 60px;
    display: flex;
    padding: 0 77px;
    margin-top: 40px;
}

.socer_rew {
    font-family: "Jost-SemiBold", sans-serif;
    font-size: 40px;
    color: #1B1B1D;
    padding-right: 24px;
}

.card_review {
    width: 499px;
    height: 648px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
    margin: 0 auto;
    overflow: hidden;
}

.name_user_card {
    font-size: 24px;
    font-family: "Jost-SemiBold", sans-serif;
    color: #1B1B1D;
    padding-right: 16px;
}

.name_grade {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 42px;
}

.text_grade {
    font-size: 20px;
    color: #1B1B1D;
    padding: 32px 70px 42px 43px;
}

.arrow_next {
    transform: scaleX(-1);
    margin-left: 35px;


}

.swiper {
    height: 650px;
    width: 1100px;
    margin-top: 100px;
}

/* футер */
.footer_logo {
    font-size: 30px;
    max-width: 558px;
}

.footer_logo h2 {
    padding-bottom: 30px;
}

footer {
    margin-top: 140px;
}

.contacts {
    display: flex;
    font-size: 30px;
    color: #64646A;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: -50px;
}

.contacts img {
    padding-top: 20px;
}

.link_footer {
    margin-top: 30px;
}

.one_foor_footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

.arrow-3 {
    color: #1B1B1D;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    margin-top: 30px;
}

.arrow-3 .arrow-3-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
    color: #1B1B1D;
}

.arrow-3 .arrow-3-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}

.arrow-3:hover .arrow-3-icon {
    transform: translate3d(5px, 0, 0);
}

.arrow-3:hover .arrow-3-iconcircle {
    stroke-dashoffset: 0;
}

.title_footer {
    font-size: 40px;
}

.contact_alowishus h2 {
    padding-left: 40px;
}

.footer_email {
    max-width: 413px;
    height: 70px;
    border-radius: 65px;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.2);
    border: none;
    font-size: 16px;
    padding-left: 20px;
}

.first_one_us .btn_coffe {
    margin-top: 30px;
}

.first_one_us {

    max-width: 413px;
    margin-right: 45px;
}

.first_one_us h2 {
    font-size: 40px;

}

hr {
    color: #64646A;
    margin-bottom: 40px;
}

b {
    color: #1B1B1D;
}

.under_footer {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

}

.underr_footer {
    font-size: 22px;

}

.case_under {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}



